<!DOCTYPE html>
<html lang="{{ site.locale | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <script async src="{{ site.baseurl }}/scripts/moment.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/custom.css" media="screen" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <title> {{ page.title }} </title>
  <script data-ad-client="ca-pub-4299887514096841" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
  <header>
    <div class="inner">
      <a href="/">
        <img class="site-logo" src="/images/xivapp.png" alt="ApplicationLogo" />
      </a>
      <h2 class="site-header">{{ site.description }}</h2>
      <a href="https://github.com/FFXIVAPP/ffxivapp" target="_blank" class="button"><small>View project on</small>
        GitHub</a>
    </div>
  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">

        {{ content }}

        <hr />
        <section id="legal">
          <p>Copyright © 2007 - 2018 Ryan Wilson.</p>
          <p>FINAL FANTASY, FFXIV, SQUARE ENIX and the SQUARE ENIX logo are registered trademarks or trademarks of
            Square Enix Holdings Co., Ltd.</p>
          <p>All other trademarks are the properties of their respective owners.</p>
        </section>

      </section>

      <aside id="sidebar">
        <a id="download" href="https://github.com/FFXIVAPP/ffxivapp/releases/latest" target="_blank" class="button">
          <small>Download</small>
          release.zip
        </a>
        <a href="https://github.com/FFXIVAPP/ffxivapp/archive/master.zip" target="_blank" class="button">
          <small>Download</small>
          source.zip
        </a>
        <iframe src="https://discordapp.com/widget?id=45715488583450625&theme=dark" width="350" height="500"
          allowtransparency="true" frameborder="0"></iframe>
        <p class="repo-owner">Organization:
        <ul style="list-style: none;">
          <li>
            <a href="https://github.com/FFXIVAPP" target="_blank">FFXIVAPP</a>
          </li>
        </ul>
        </p>
        <p class="repo-owner">Owner:
        <ul style="list-style: none;">
          <li>
            <a href="https://github.com/Icehunter" target="_blank">Icehunter</a>
          </li>
        </ul>
        </p>
        <p class="repo-owner">Maintainers:
        <ul style="list-style: none;">
          <li>
            <a href="https://github.com/cjmanca" target="_blank">C.J. Manca</a>
          </li>
          <li>
            <a href="https://github.com/ravahn" target="_blank">Ravahn</a>
          </li>
          <li>
            <a href="https://github.com/viion" target="_blank">Josh Freeman</a>
          </li>
        </ul>
        </p>
      </aside>
    </div>
  </div>
  {% if site.google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}', { 'anonymize_ip': true });
  </script>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      GetLatestReleaseInfo();
    });

    function GetLatestReleaseInfo() {
      $.getJSON('https://api.github.com/repos/Icehunter/ffxivapp/releases?per_page=1000').done(function (releases) {
        var releaseCount = 0;
        $.each(releases, function (i, release) {
          releaseCount += release.assets[0].download_count;
        });
        var release = releases.filter(function (release) {
          return release.target_commitish === 'master';
        })[0];
        var asset = release.assets[0];
        var timeAgo = moment(asset.updated_at).fromNow();
        var releaseInfo = 'Updated ' + timeAgo + ' and downloaded ' + releaseCount + ' times.';
        $("#download").attr("href", asset.browser_download_url);
        $("#release-info").text(releaseInfo);
      });
    }
  </script>
</body>

</html>
